
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family:'Monserrat' ;
   src: url('./assets/Fonds/Montserrat.ttf');
   font-weight: 100 900;
   font-style: normal;
}

header {
     background-color: #f3f7f7c1;
     padding: 1rem;
     color: rgb(81, 163, 235);

}

body {
     font-family: 'Monserrat';
}

footer {
     margin-top: 400px;

}

.pagina-institucional {
     color: rgb(3, 57, 104);
     margin-top: 50px;
     margin-bottom: 50px;
     text-align: left;

}

.pagina-contacto {
     color: rgb(3, 57, 104);
     margin-top: 50px;
     margin-bottom: 50px;
     text-align: left;   
     margin-bottom: 25px;   
}